<script src="/js/notification.js" defer></script>
<script src="/js/friends.js" defer></script>

<div class="navbar">
    <div class="left">
        <a href="/home" style="text-decoration: none">
            <span>Social</span>
        </a>
        <a href="/home"><i class="fa-solid fa-house"></i></a>


        <div class="dropdown search-user">
            <div class="avatar-user search-user" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <form action="/search" method="get" class="form-search">
                        <input type="text" class="input" name="filter" placeholder="Search..." onkeyup="processChange()"
                               autocomplete="off"/>
                    </form>
                </div>
            </div>
            <ul class="dropdown-menu dropdown-menu-end drop-search" aria-labelledby="dropdownTrigger"
                id="fetch-data-search" style="display: none;">
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="dropdown">
            <div class="avatar-user" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true"
                 data-bs-auto-close="outside" aria-expanded="false">
                <i id="friendIcon" class="fa-regular fa-user">
                    <div th:if="${lst_friend_request.size()>0}" class="notice-addfr"
                         th:text="${lst_friend_request.size()}"></div>
                </i>
            </div>
            <ul class="dropdown-menu drop-noti dropdown-menu-end drop-friend" aria-labelledby="dropdownTrigger">
                <div class="recently">Friend request</div>
                <div id="friendRequestList">
                    <li th:each="friend_req:${lst_friend_request}">
                        <a class="dropdown-item"
                           th:href="@{|/profile?id=${#strings.concat(friend_req.getUserFrom().getId())}|}"
                        ></a>
                        <i class="user">
                            <img
                                    th:src="${friend_req.getUserFrom().getAvatar()}"
                                    alt=""
                            />
                            <span class="detail-noti">  <strong th:text="${friend_req.getUserFrom().getEmail()}">


              </strong>đã gửi cho bạn lời mời kết bạn
              <div th:text="${friend_req.getCreatedAt()}"></div>
              <div class="wrap-btn">
                <input type="hidden" th:value="${friend_req.getUserFrom().getId()}" class="accept-input"/>
                <button onclick="acceptFriendRequest(this)" class="accept-btn">Accept</button>
                <button onclick="declineFriendRequest(this)" class="dismiss-btn">Dismiss</button>
              </div>
            </span>
                        </i>
                    </li>
                </div>


                <a href="/friend" class="redidect-listfriend">Xem tất cả trong Danh sách bạn bè</a>
            </ul>

        </div>

        <a href="chat">
            <i class="fa-regular fa-envelope">
<!--                <div class="notice-message">2</div>-->
            </i>
        </a>


        <div class="dropdown">
            <div class="avatar-user" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true"
                 data-bs-auto-close="outside" aria-expanded="false">
                <i id="bellIcon"  th:onclick="'changeStatusNotification('  + ${user.getId()} +  ');'" class="fa-regular fa-bell">
                    <div th:if="${lstAnnounce.size()>0}" th:text="${lstAnnounce.size()}" class="notice-notifi"></div>
                </i>
            </div>
            <ul class="dropdown-menu drop-noti dropdown-menu-end" aria-labelledby="dropdownTrigger">
                <div class="recently">Notification</div>

                <div id="announceItems">
                    <li th:each="announce:${lstAnnounce}"><a class="dropdown-item" href="#">

                        <i class="user">
                            <img
                                    th:src="${announce.getUserFrom().getAvatar()}"
                                    alt=""
                            />
                            <span class="detail-noti">  <strong>
                      <span th:text="${announce.getUserFrom().getUsername()}"></span>
                    </strong>
                      <span th:if="${announce.getEAnnounceType().toString() == 'LIKE'}"> đã like bài viết của bạn </span>
                       <span th:if="${announce.getEAnnounceType().toString() == 'COMMENT'}"> đã bình luận trong bài viết của bạn </span>
                     </span>
                        </i>
                    </a></li>

                </div>
            </ul>

        </div>
        <div class="dropdown">
            <div class="avatar-user" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                <div class="user" th:if="${currentUser}==null">
                    <img
                            th:src="${user.getAvatar()}"
                            alt=""
                    />
                </div>
                <div class="user" th:if="${currentUser}!=null">
                    <img
                            th:src="${currentUser.getAvatar()}"
                            alt=""
                    />
                </div>
            </div>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownTrigger">
                <li><a class="dropdown-item" href="profile">

                    <i th:if="${currentUser}==null" class="user">
                        <img
                                th:src="${user.getAvatar()}"
                                alt=""
                        />
                        <span th:text="${user.getUsername()}"></span>
                    </i>

                    <i th:if="${currentUser}!=null" class="user">
                        <img
                                th:src="${currentUser.getAvatar()}"
                                alt=""
                        />
                        <span th:text="${currentUser.getUsername()}"></span>
                    </i>
                </a></li>
                <hr>
                <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></i>
                    Logout </a></li>
            </ul>
        </div>

    </div>

</div>
