<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">


    <title>chat app - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <link href="/css/chat/main.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script th:src="@{/js/chat/main.js}" defer></script>
    <script th:src="@{/js/chat/group.js}" defer></script>

    <style>
        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
        }
        .user img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
        .user span {
            font-size: 14px;
        }

        @media only screen and (max-width: 767px) {

            .mobile-chat[data-hide = "TRUE"] > div[id='chat'] {
                display: none !important;
            }
            .mobile-chat[data-hide = "TRUE"] > div[id='plist'] {
                flex-grow: 1;
            }

            .mobile-chat[data-hide = "FALSE"] > div[id='plist'] {
                display: none !important;
            }
            .mobile-chat[data-hide = "FALSE"] > div[id='chat'] {
                flex-grow: 1;
            }
        }

        .mobile-chat[data-hide = "TRUE"] > div[id='chat'] {
            display: none !important;
        }
        .mobile-chat[data-hide = "TRUE"] > div[id='plist'] {
            flex-grow: 1;
        }





        .messageImage {
            width: 300px;
        }



        /*.mobile-chat > div[id='plist'] {*/
        /*    display: none;*/
        /*}*/
    </style>
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div style="display: none" id="userIdDiv" th:text="${user.getUser().getId()}"></div>
<div style="display: none" id="UUIDDiv" th:text="${uuid.toString()}"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div id="mainChat" class="card chat-app mobile-chat" data-choice="SIDE" style="flex-direction: row; height: 90dvh">
                <div id="plist" class="people-list d-flex flex-column">
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height: 100%; align-items: center"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <div class="input-group" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="resetAndAddNewRoom(event)">
                        <div class="input-group-text d-flex justify-content-center btn btn-outline-secondary" style="width: 100%"><i class="bi bi-plus-circle-fill" style="padding: 0.25rem" ></i>Tạo nhóm</div>
                    </div>
                    <ul id="roomList" class="list-unstyled chat-list mt-2 mb-0 flex-grow-1 overflow-auto">

                    </ul>
                </div>
                <div id="chat" class="chat flex-grow-1 d-flex flex-column" style="flex-grow: 1">
                    <div class="chat-header clearfix">
                        <div class="d-flex flex-row justify-content-between gap-1">
                            <div class="d-flex align-items-center gap-1">
                                <a href="javascript:void(0);" onclick="hideChatPanel()">
                                    <i class="fa fa-arrow-left" style="width: 25px; height: 100%;" aria-hidden="true"></i>
                                </a>

                                <div class="dropdown">
                                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="" alt="avatar" id="groupAvatar">
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#changePhotoModal">Thay đổi hình ảnh</a></li>
                                    </ul>
                                </div>
                                <div class="chat-about">
                                    <h4 class="m-b-0" id="roomName"></h4>
                                </div>
                            </div>
                            <div class="">
                                <a href="javascript:void(0);" class="btn btn-outline-secondary" onclick="handleCall()"><i class="fa fa-phone"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#sendPhotoModal"><i class="fa fa-image"></i></a>
                                <a href="#" class="btn btn-outline-primary" onclick="handleChangeUser()" data-bs-toggle="modal" data-bs-target="#changeUserModal"><i class="fa fa-user-friends"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#renameModal"><i class="fa fa-edit" ></i></a>
                                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#removeModal"><i class="fa fa-trash-can"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="chatHistoryContainer" class="chat-history flex-grow-1 overflow-auto">
                        <ul class="m-b-0 chatContainer" id="chatHistory">

                        </ul>
                    </div>
                    <div class="chat-message clearfix">

                        <form action="" method="post" onsubmit="sendMessage(event)">
                            <div class="input-group mb-0">
                                <input type="text" class="form-control" name="message" placeholder="Enter text here...">
                                <div class="input-group-append">
                                    <input class="btn btn-outline-primary" value="Send" type="submit"/>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tạo nhóm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id  class="modal-body">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="height: 100%; align-items: center"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search..." onkeyup="addRoomSearch(event)">
                </div>
                <div id="friendContent">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveRoom()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="removeModal"  tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="removeModalLabel">Rời phòng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id  class="modal-body">
                <h3>
                    Bạn có chắc muốn rời khỏi phòng?
                </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="removeFromRoom()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="renameModal"  tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="renameModalLabel">Thay đổi tên phòng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id  class="modal-body">
                <h3>
                    Thay đổi tên nhóm thành:
                </h3>
                <input type="text" id="renameInput" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="rename()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="changePhotoModal"  tabindex="-1" aria-labelledby="changePhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="changePhotoModalLabel">Thay đổi tên phòng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id  class="modal-body">
                <h3>
                    Thay đổi tên nhóm thành:
                </h3>
                <input type="file" id="photoInput" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="changePhoto()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sendPhotoModal"  tabindex="-1" aria-labelledby="sendPhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="sendPhotoModalLabel">Thay đổi tên phòng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id  class="modal-body">
                <h3>
                    Thay đổi tên nhóm thành:
                </h3>
                <input type="file" id="sendPhotoInput" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendPhotoMessage()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="changeUserModal"  tabindex="-1" aria-labelledby="changeUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="changeUserModalLabel">Thay đổi tên phòng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id  class="modal-body">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="height: 100%; align-items: center"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search..." onkeyup="changeUserSearch(event)">
                </div>
                <div id="otherRoomContent" class="mb-2" style="border-bottom: black solid 1px; padding-bottom: 0.25rem">

                </div>

                <div id="userRoomContent">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="submitUserChange()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</body>
</html>