<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="login">
      <div class="card">
        <div class="left">
          <h1>Social Media</h1>
          <p>
            Nơi bạn kết nối và chia sẻ với mọi người trong mọi hoàn cảnh
          </p>
          <span>Không có tài khoản?</span>
          <a th:href="@{/register}">
            <button>Đăng ký</button>
          </a>
        </div>
        <div class="right">
          <h1>Đăng nhập</h1>
          <form id="loginForm" th:action="@{/userLogin}" method="post" onsubmit="return validateForm(event)">
            <input type="email" placeholder="Email" id="username" name="username" required/>
            <span id="usernameError" style="color: red;"></span>
            <input type="password" placeholder="Password" id="password" name="password"/>
            <span id="passwordError" style="color: red;"></span>
            <div style="display: flex; gap: 0.25rem">
              <button id="loginButton">Đăng nhập</button>
              <a href="/register" style="flex-grow: 1; " class="rightSignUp">
                <button type="button" style="width: 100% ; background-color: white; color: black">Đăng ký</button>
              </a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </body>

</html>
<script>
  function validateForm(event) {
    // event.preventDefault();
    var username = document.getElementById("username");
    var password = document.getElementById("password");
    var usernameError = document.getElementById("usernameError");
    var passwordError = document.getElementById("passwordError");

    // Remove existing error classes and error messages
    username.classList.remove('error');
    password.classList.remove('error');
    usernameError.textContent = "";
    passwordError.textContent = "";

    if (username.value === "") {
      username.focus();
      username.classList.add('error');
      usernameError.textContent = "Username cannot be blank.";
      return false;
    }

    if (password.value === "") {
      password.focus();
      password.classList.add('error');
      passwordError.textContent = "Password cannot be blank.";
      return false;
    }

    return true;
  }

  // var loginForm = document.getElementById("loginForm");
  // loginForm.addEventListener("submit", validateForm);
</script>
