<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login">
      <div class="card">
        <div class="left">
          <h1>Hello World.</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero cum,
            alias totam numquam ipsa exercitationem dignissimos, error nam,
            consequatur.
          </p>
          <span>Don't you have an account?</span>
          <a th:href="@{/register}">
            <button>Register</button>
          </a>
        </div>
        <div class="right">
          <h1>Login</h1>
          <form id="loginForm" th:action="@{/userLogin}" method="post" onsubmit="return validateForm(event)">
            <input type="text" placeholder="Username" id="username" name="username"/>
            <span id="usernameError" style="color: red;"></span>
            <input type="password" placeholder="Password" id="password" name="password"/>
            <span id="passwordError" style="color: red;"></span>
            <button id="loginButton">Login</button>

          </form>
        </div>
      </div>
    </div>
  </body>

</html>
<script>
  function validateForm(event) {
    // event.preventDefault();
    var username = document.getElementById("username");
    var password = document.getElementById("password");
    var usernameError = document.getElementById("usernameError");
    var passwordError = document.getElementById("passwordError");

    // Remove existing error classes and error messages
    username.classList.remove('error');
    password.classList.remove('error');
    usernameError.textContent = "";
    passwordError.textContent = "";

    if (username.value === "") {
      username.focus();
      username.classList.add('error');
      usernameError.textContent = "Username cannot be blank.";
      return false;
    }

    if (password.value === "") {
      password.focus();
      password.classList.add('error');
      passwordError.textContent = "Password cannot be blank.";
      return false;
    }

    return true;
  }

  // var loginForm = document.getElementById("loginForm");
  // loginForm.addEventListener("submit", validateForm);
</script>
